---
import PageLayout from "../layouts/PageLayout.astro";
import Card from "../components/Card.astro";
import { getAllRates } from "../services/rates";
import Graph from "../components/Graph.astro";

const result = await getAllRates();

const withValue = Astro.url.searchParams.get("with");
const showGraph = withValue?.includes("graph");
---

<PageLayout>
  <div class="py-12 max-w-7xl mx-auto">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:text-center">
        <h2
          class="text-base text-green-600 font-semibold tracking-wide uppercase"
        >
          FX rates
        </h2>
        <p
          class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl"
        >
          A better way to see exchange rates
        </p>
        <p class="mt-4 max-w-2xl text-xl text-gray-500 lg:mx-auto">
          Exchange rates presentations don't have to be boring and annoying like
          the Naira value 😞. This is a mission to give it a face lift with
          delightful UI and experience 🥳.
        </p>
      </div>
    </div>

    {showGraph && <Graph />}

    {
      Object.keys(result).map((provider) => (
        <Card rate={result[provider]} title={provider} />
      ))
    }
  </div>
</PageLayout>
