---
import NivoChart from "../components/NivoChart.jsx";
---

<section id="chart" class="bg-fx-gray-light dark:bg-dark-fx-blue-light py-24">
    <div class="mx-auto max-w-3xl px-2">
        <h3 class="text-lg font-medium">Graphical chart of changes overtime</h3>
        <p>
            Below you can see the chart for the Nigerian Naira rate overtime by
            Grey Finance, SendApp and TransferGo
        </p>

        <NivoChart data={[]} client:only="react" />
    </div>
</section>
