<details class:list={["max-w-md", "mx-auto", "mt-2"]} open={true}>
  <summary class="border-2 rounded-md p-2"
    >See Graphical illustration of the changes overtime!
  </summary>

  <div class="p-2">
    <small
      >Currency: <select class="border" id="currency_option">
        <option value="eur">Eur</option>
        <option value="usd">USD</option>
        <option value="gbp">GBP</option>
      </select>
    </small>
  </div>
  <div id="chart" class="pl-4"></div>
</details>

<script
  is:inline
  src="https://unpkg.com/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"
></script>
<script>
  import { getKVRates, generateChartData } from "../services/kv";
  (async () => {
    const rates = await getKVRates();
    const currencyRef = document.getElementById(
      "currency_option"
    ) as HTMLSelectElement;
    renderChart(rates, currencyRef.value);

    currencyRef.addEventListener("change", (e) => {
      renderChart(rates, e.target["value"]);
    });
  })();

  function renderChart(rates, currency) {
    const { labels, send, grey } = generateChartData(rates, currency);

    const data = {
      labels: labels,
      datasets: [
        {
          name: "Send",
          values: send,
        },
        {
          name: "Grey",
          values: grey,
        },
      ],
    };

    // https://github.com/frappe/charts#usage
    new frappe.Chart("#chart", {
      title: "Rate changes overtime",
      data,
      type: "line",
      height: 250,
      colors: ["#7cd6fd", "#743ee2"],
    });
  }
</script>
