---
import CurrentDate from "./CurrentDate.astro";
import Refresh from "./Refresh.astro";
const date = new Date().toUTCString();
---

<section class="mx-auto max-w-4xl px-2 mt-16">
    <h1 class="text-3xl font-medium text-gray-800 dark:text-white max-w-2xl">
        Get daily access to Naira Exchange Rates at current selling price
    </h1>
    <p class="text-lg mx-auto mt-4">
        These are real time exchange rate from the top-level financial data
        providers and various commercial sources & banks, that’s why the rate
        changes all the time. The exchange rate is the rate you find on Grey
        finance, Sendapp and Transfer Go. The live Nigerian Naira exchange rate
        (NGN) as of <CurrentDate />.
        <Refresh />
    </p>
</section>
