---
import { Icon } from 'astro-icon'
---

<style lang="scss">
    li {
        display: inline-flex;
        align-self: center;
        align-content: center;
        align-items: center;
    }
</style>

<section class="mx-auto max-w-4xl px-2 my-24">
  <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-4">
      <h3 class="text-xl font-medium text-gray-800 max-w-2xl">
        Get daily rates and market news 
      </h3>
      <p class="text-lg mx-auto mt-4">
          Join our Over 18,000 subscribers. This Newsletter is for people looking for better rates in EUR (€), GBP(£) and USD($) . FxRates provides a fundamental analysis of the exchange rates. 
      </p>
      <ul class="flex flex-wrap mt-4 space-x-4">
        <li><Icon name="check" size="16" class="mr-1"/> Quality content</li>
        <li><Icon name="check" size="16" class="mr-1"/> Zero cross selling</li>
        <li><Icon name="check" size="16" class="mr-1"/>Unsubscribe anytime</li>
      </ul>
    </div>
    <div class="sm:col-span-2 flex justify-center items-center">
      <img src="/images/subscribecat.svg" alt="subscribe_image" >
    </div>
  </div>
    
	

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-2">
              <label for="first-name" class="block text-sm font-medium leading-6 text-gray-900">Name (optional)</label>
              <div class="mt-2">
                <input type="text" name="first-name" id="first-name" autocomplete="given-name" class="block w-full rounded-sm border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your name">
              </div>
            </div>
    
            <div class="sm:col-span-3">
              <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900">Email addresss (required)</label>
              <div class="mt-2">
                <input type="text" name="last-name" id="last-name" autocomplete="family-name" class="block w-full rounded-sm border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Enter your email address">
              </div>
            </div>

            <div class="sm:col-span-1 self-end">
                <button type="submit" class="bg-slate-900 p-2.5 text-sm text-white w-full">Subscribe</button>
            </div>
    </div>
</section>