---
import { engageKey } from "utils/constants";
---

<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="keywords" content="exchange rates naira" />
		<meta
			name="description"
			content="All information about exchange rates in Naira, dollar to naira black market today, pounds to naira black market today, Euro to naira black market today, dollar to naira parallel rate today, pounds to naira parallel rate today, Euro to naira parallel rate today, FX rates on TransferGo, GreyFinance and sendApp today"
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link
			href="https://fonts.cdnfonts.com/css/bl-melody"
			rel="stylesheet"
		/>
		<title>FXrates</title>
	</head>

	<body
		class="text-fx-blue-dark dark:text-white bg-white dark:bg-dark-fx-blue"
	>
		<slot />
		<!-- Engage SDK -->
		<script define:vars={{ engageKey }}>
			!(function (n) {
				if (!window.Engage) {
					(window[n] = window[n] || {}),
						(window[n].queue = window[n].queue || []),
						(window.Engage = window.Engage || {});
					for (
						var e = ["init", "identify", "addAttribute", "track"],
							i = 0;
						i < e.length;
						i++
					)
						window.Engage[e[i]] = w(e[i]);
					var d = document.createElement("script");
					(d.src =
						"//d2969mkc0xw38n.cloudfront.net/next/engage.min.js"),
						(d.async = !0),
						document.head.appendChild(d);
				}
				function w(e) {
					return function () {
						window[n].queue.push(
							[e].concat([].slice.call(arguments)),
						);
					};
				}
			})("engage");
			Engage.init(engageKey);
		</script>
		<!-- Cloudflare Web Analytics -->
		<script
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "61ded7b3c3c2407f8ac2c11ce9b74f53"}'
		></script><!-- End Cloudflare Web Analytics -->
		<!-- Google tag (gtag.js) -->
		<script
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-7M7Z26BWS6"
		></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "G-7M7Z26BWS6");
		</script>
		<!-- End Google tag (gtag.js) -->
	</body>
</html>
