---

---

<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="exchange rates naira">
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>FXrates</title>
</head>

<body class="bg-green-30">
	<slot />
	<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
		data-cf-beacon='{"token": "61ded7b3c3c2407f8ac2c11ce9b74f53"}'></script>
</body>

</html>
